# Carthage
Carthage/*
Carthage/Checkouts/*
Carthage/Build/*

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
.build/

Carthage/Build/.Kingfisher.version
Carthage/Checkouts/promises/Sources/Promises/Promise+Validate.swift
Carthage/Build/.Kingfisher.version
Carthage/Build/.ReSwift.version
Carthage/Build/.promises.version
Carthage/Build/Mac/FBLPromises.framework/Versions/A/FBLPromises
Carthage/Build/Mac/FBLPromises.framework/Versions/A/Resources/Info.plist
Carthage/Build/Mac/FBLPromises.framework.dSYM/Contents/Info.plist
Carthage/Build/Mac/FBLPromises.framework.dSYM/Contents/Resources/DWARF/FBLPromises
Carthage/Build/Mac/Kingfisher.framework/Versions/A/Kingfisher
Carthage/Build/Mac/Kingfisher.framework/Versions/A/Headers/Kingfisher-Swift.h
Carthage/Build/Mac/Kingfisher.framework/Versions/A/Modules/Kingfisher.swiftmodule/x86_64.swiftdoc
Carthage/Build/Mac/Kingfisher.framework/Versions/A/Modules/Kingfisher.swiftmodule/x86_64.swiftmodule
Carthage/Build/Mac/Kingfisher.framework/Versions/A/Resources/Info.plist
Carthage/Build/Mac/Kingfisher.framework.dSYM/Contents/Info.plist
Carthage/Build/Mac/Kingfisher.framework.dSYM/Contents/Resources/DWARF/Kingfisher
Carthage/Build/Mac/Promises.framework/Versions/A/Promises
Carthage/Build/Mac/Promises.framework/Versions/A/Headers/Promises-Swift.h
Carthage/Build/Mac/Promises.framework/Versions/A/Modules/module.modulemap
Carthage/Build/Mac/Promises.framework/Versions/A/Modules/Promises.swiftmodule/x86_64.swiftdoc
Carthage/Build/Mac/Promises.framework/Versions/A/Modules/Promises.swiftmodule/x86_64.swiftmodule
Carthage/Build/Mac/Promises.framework/Versions/A/Resources/Info.plist
Carthage/Build/Mac/Promises.framework.dSYM/Contents/Info.plist
Carthage/Build/Mac/Promises.framework.dSYM/Contents/Resources/DWARF/Promises
Carthage/Build/iOS/FBLPromises.framework/FBLPromises
Carthage/Build/iOS/FBLPromises.framework/Info.plist
Carthage/Build/iOS/FBLPromises.framework.dSYM/Contents/Info.plist
Carthage/Build/iOS/FBLPromises.framework.dSYM/Contents/Resources/DWARF/FBLPromises
Carthage/Build/iOS/Kingfisher.framework/Info.plist
Carthage/Build/iOS/Kingfisher.framework/Kingfisher
Carthage/Build/iOS/Kingfisher.framework/Headers/Kingfisher-Swift.h
Carthage/Build/iOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/arm.swiftdoc
Carthage/Build/iOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/arm.swiftmodule
Carthage/Build/iOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/arm64.swiftdoc
Carthage/Build/iOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/arm64.swiftmodule
Carthage/Build/iOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/i386.swiftdoc
Carthage/Build/iOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/i386.swiftmodule
Carthage/Build/iOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/x86_64.swiftdoc
Carthage/Build/iOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/x86_64.swiftmodule
Carthage/Build/iOS/Kingfisher.framework.dSYM/Contents/Info.plist
Carthage/Build/iOS/Kingfisher.framework.dSYM/Contents/Resources/DWARF/Kingfisher
Carthage/Build/iOS/Promises.framework/Info.plist
Carthage/Build/iOS/Promises.framework/Promises
Carthage/Build/iOS/Promises.framework/Headers/Promises-Swift.h
Carthage/Build/iOS/Promises.framework/Modules/module.modulemap
Carthage/Build/iOS/Promises.framework/Modules/Promises.swiftmodule/arm.swiftdoc
Carthage/Build/iOS/Promises.framework/Modules/Promises.swiftmodule/arm.swiftmodule
Carthage/Build/iOS/Promises.framework/Modules/Promises.swiftmodule/arm64.swiftdoc
Carthage/Build/iOS/Promises.framework/Modules/Promises.swiftmodule/arm64.swiftmodule
Carthage/Build/iOS/Promises.framework/Modules/Promises.swiftmodule/i386.swiftdoc
Carthage/Build/iOS/Promises.framework/Modules/Promises.swiftmodule/i386.swiftmodule
Carthage/Build/iOS/Promises.framework/Modules/Promises.swiftmodule/x86_64.swiftdoc
Carthage/Build/iOS/Promises.framework/Modules/Promises.swiftmodule/x86_64.swiftmodule
Carthage/Build/iOS/Promises.framework.dSYM/Contents/Info.plist
Carthage/Build/iOS/Promises.framework.dSYM/Contents/Resources/DWARF/Promises
Carthage/Build/iOS/ReSwift.framework/Info.plist
Carthage/Build/iOS/ReSwift.framework/ReSwift
Carthage/Build/iOS/ReSwift.framework/Headers/ReSwift-Swift.h
Carthage/Build/iOS/ReSwift.framework/Modules/ReSwift.swiftmodule/arm.swiftdoc
Carthage/Build/iOS/ReSwift.framework/Modules/ReSwift.swiftmodule/arm.swiftmodule
Carthage/Build/iOS/ReSwift.framework/Modules/ReSwift.swiftmodule/arm64.swiftdoc
Carthage/Build/iOS/ReSwift.framework/Modules/ReSwift.swiftmodule/arm64.swiftmodule
Carthage/Build/iOS/ReSwift.framework/Modules/ReSwift.swiftmodule/i386.swiftdoc
Carthage/Build/iOS/ReSwift.framework/Modules/ReSwift.swiftmodule/i386.swiftmodule
Carthage/Build/iOS/ReSwift.framework/Modules/ReSwift.swiftmodule/x86_64.swiftdoc
Carthage/Build/iOS/ReSwift.framework/Modules/ReSwift.swiftmodule/x86_64.swiftmodule
Carthage/Build/iOS/ReSwift.framework.dSYM/Contents/Resources/DWARF/ReSwift
Carthage/Build/tvOS/FBLPromises.framework/FBLPromises
Carthage/Build/tvOS/FBLPromises.framework/Info.plist
Carthage/Build/tvOS/FBLPromises.framework.dSYM/Contents/Info.plist
Carthage/Build/tvOS/FBLPromises.framework.dSYM/Contents/Resources/DWARF/FBLPromises
Carthage/Build/tvOS/Kingfisher.framework/Info.plist
Carthage/Build/tvOS/Kingfisher.framework/Kingfisher
Carthage/Build/tvOS/Kingfisher.framework/Headers/Kingfisher-Swift.h
Carthage/Build/tvOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/arm64.swiftdoc
Carthage/Build/tvOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/arm64.swiftmodule
Carthage/Build/tvOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/x86_64.swiftdoc
Carthage/Build/tvOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/x86_64.swiftmodule
Carthage/Build/tvOS/Kingfisher.framework.dSYM/Contents/Info.plist
Carthage/Build/tvOS/Kingfisher.framework.dSYM/Contents/Resources/DWARF/Kingfisher
Carthage/Build/tvOS/Promises.framework/Info.plist
Carthage/Build/tvOS/Promises.framework/Promises
Carthage/Build/tvOS/Promises.framework/Headers/Promises-Swift.h
Carthage/Build/tvOS/Promises.framework/Modules/module.modulemap
Carthage/Build/tvOS/Promises.framework/Modules/Promises.swiftmodule/arm64.swiftdoc
Carthage/Build/tvOS/Promises.framework/Modules/Promises.swiftmodule/arm64.swiftmodule
Carthage/Build/tvOS/Promises.framework/Modules/Promises.swiftmodule/x86_64.swiftdoc
Carthage/Build/tvOS/Promises.framework/Modules/Promises.swiftmodule/x86_64.swiftmodule
Carthage/Build/tvOS/Promises.framework.dSYM/Contents/Info.plist
Carthage/Build/tvOS/Promises.framework.dSYM/Contents/Resources/DWARF/Promises
Carthage/Build/watchOS/FBLPromises.framework/FBLPromises
Carthage/Build/watchOS/FBLPromises.framework/Info.plist
Carthage/Build/watchOS/FBLPromises.framework.dSYM/Contents/Info.plist
Carthage/Build/watchOS/FBLPromises.framework.dSYM/Contents/Resources/DWARF/FBLPromises
Carthage/Build/watchOS/Kingfisher.framework/Info.plist
Carthage/Build/watchOS/Kingfisher.framework/Kingfisher
Carthage/Build/watchOS/Kingfisher.framework/Headers/Kingfisher-Swift.h
Carthage/Build/watchOS/Kingfisher.framework/Modules/module.modulemap
Carthage/Build/watchOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/arm.swiftdoc
Carthage/Build/watchOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/arm.swiftmodule
Carthage/Build/watchOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/i386.swiftdoc
Carthage/Build/watchOS/Kingfisher.framework/Modules/Kingfisher.swiftmodule/i386.swiftmodule
Carthage/Build/watchOS/Kingfisher.framework.dSYM/Contents/Info.plist
Carthage/Build/watchOS/Kingfisher.framework.dSYM/Contents/Resources/DWARF/Kingfisher
Carthage/Build/watchOS/Promises.framework/Info.plist
Carthage/Build/watchOS/Promises.framework/Promises
Carthage/Build/watchOS/Promises.framework/Headers/Promises-Swift.h
Carthage/Build/watchOS/Promises.framework/Modules/module.modulemap
Carthage/Build/watchOS/Promises.framework/Modules/Promises.swiftmodule/arm.swiftdoc
Carthage/Build/watchOS/Promises.framework/Modules/Promises.swiftmodule/arm.swiftmodule
Carthage/Build/watchOS/Promises.framework/Modules/Promises.swiftmodule/i386.swiftdoc
Carthage/Build/watchOS/Promises.framework/Modules/Promises.swiftmodule/i386.swiftmodule
Carthage/Build/watchOS/Promises.framework.dSYM/Contents/Info.plist
Carthage/Build/watchOS/Promises.framework.dSYM/Contents/Resources/DWARF/Promises
Carthage/Checkouts/Kingfisher/.travis.yml
Carthage/Checkouts/Kingfisher/CHANGELOG.md
Carthage/Checkouts/Kingfisher/Gemfile
Carthage/Checkouts/Kingfisher/Gemfile.lock
Carthage/Checkouts/Kingfisher/Kingfisher.podspec
Carthage/Checkouts/Kingfisher/Demo/Demo/Kingfisher-Demo/AppDelegate.swift
Carthage/Checkouts/Kingfisher/Demo/Demo/Kingfisher-macOS-Demo/AppDelegate.swift
Carthage/Checkouts/Kingfisher/Demo/Demo/Kingfisher-tvOS-Demo/AppDelegate.swift
Carthage/Checkouts/Kingfisher/Demo/Kingfisher-Demo.xcodeproj/project.pbxproj
Carthage/Checkouts/Kingfisher/Kingfisher.xcodeproj/project.pbxproj
Carthage/Checkouts/Kingfisher/Kingfisher.xcodeproj/xcshareddata/xcschemes/Kingfisher.xcscheme
Carthage/Checkouts/Kingfisher/Kingfisher.xcodeproj/xcshareddata/xcschemes/Kingfisher-macOS.xcscheme
Carthage/Checkouts/Kingfisher/Kingfisher.xcodeproj/xcshareddata/xcschemes/Kingfisher-tvOS.xcscheme
Carthage/Checkouts/Kingfisher/Kingfisher.xcodeproj/xcshareddata/xcschemes/Kingfisher-watchOS.xcscheme
Carthage/Checkouts/Kingfisher/Pods/Pods.xcodeproj/project.pbxproj
Carthage/Checkouts/Kingfisher/Sources/AnimatedImageView.swift
Carthage/Checkouts/Kingfisher/Sources/Image.swift
Carthage/Checkouts/Kingfisher/Sources/ImageCache.swift
Carthage/Checkouts/Kingfisher/Sources/ImageDownloader.swift
Carthage/Checkouts/Kingfisher/Sources/ImageModifier.swift
Carthage/Checkouts/Kingfisher/Sources/ImagePrefetcher.swift
Carthage/Checkouts/Kingfisher/Sources/ImageTransition.swift
Carthage/Checkouts/Kingfisher/Sources/Indicator.swift
Carthage/Checkouts/Kingfisher/Sources/Info.plist
Carthage/Checkouts/Kingfisher/Sources/KingfisherManager.swift
Carthage/Checkouts/Kingfisher/Sources/KingfisherOptionsInfo.swift
Carthage/Checkouts/Kingfisher/Sources/UIButton+Kingfisher.swift
Carthage/Checkouts/Kingfisher/Tests/KingfisherTests/ImageProcessorTests.swift
Carthage/Checkouts/Kingfisher/Tests/KingfisherTests/Info.plist
Carthage/Checkouts/Kingfisher/Tests/KingfisherTests/KingfisherManagerTests.swift
Carthage/Checkouts/Kingfisher/Tests/KingfisherTests/KingfisherOptionsInfoTests.swift
Carthage/Checkouts/Kingfisher/Tests/KingfisherTests/UIButtonExtensionTests.swift
Carthage/Checkouts/Kingfisher/Tests/KingfisherTests-macOS/Info.plist
Carthage/Checkouts/Kingfisher/Tests/KingfisherTests-tvOS/Info.plist
Carthage/Checkouts/Kingfisher/docs/Classes.html
Carthage/Checkouts/Kingfisher/docs/Enums.html
Carthage/Checkouts/Kingfisher/docs/Extensions.html
Carthage/Checkouts/Kingfisher/docs/Functions.html
Carthage/Checkouts/Kingfisher/docs/Global Variables.html
Carthage/Checkouts/Kingfisher/docs/Protocols.html
Carthage/Checkouts/Kingfisher/docs/Structs.html
Carthage/Checkouts/Kingfisher/docs/Typealiases.html
Carthage/Checkouts/Kingfisher/docs/index.html
Carthage/Checkouts/Kingfisher/docs/search.json
Carthage/Checkouts/Kingfisher/docs/undocumented.json
Carthage/Checkouts/Kingfisher/docs/Classes/AnimatedImageView.html
Carthage/Checkouts/Kingfisher/docs/Classes/ImageCache.html
Carthage/Checkouts/Kingfisher/docs/Classes/ImageDownloader.html
Carthage/Checkouts/Kingfisher/docs/Classes/ImagePrefetcher.html
Carthage/Checkouts/Kingfisher/docs/Classes/Kingfisher.html
Carthage/Checkouts/Kingfisher/docs/Classes/KingfisherManager.html
Carthage/Checkouts/Kingfisher/docs/Classes/RetrieveImageTask.html
Carthage/Checkouts/Kingfisher/docs/Classes/AnimatedImageView/RepeatCount.html
Carthage/Checkouts/Kingfisher/docs/Classes/ImageCache/CacheCheckResult.html
Carthage/Checkouts/Kingfisher/docs/Enums/CacheType.html
Carthage/Checkouts/Kingfisher/docs/Enums/ContentMode.html
Carthage/Checkouts/Kingfisher/docs/Enums/ImageFormat.html
Carthage/Checkouts/Kingfisher/docs/Enums/ImageProcessItem.html
Carthage/Checkouts/Kingfisher/docs/Enums/ImageTransition.html
Carthage/Checkouts/Kingfisher/docs/Enums/IndicatorType.html
Carthage/Checkouts/Kingfisher/docs/Enums/KingfisherError.html
Carthage/Checkouts/Kingfisher/docs/Enums/KingfisherOptionsInfoItem.html
Carthage/Checkouts/Kingfisher/docs/Extensions/CGSize.html
Carthage/Checkouts/Kingfisher/docs/Extensions/Collection.html
Carthage/Checkouts/Kingfisher/docs/Extensions/Data.html
Carthage/Checkouts/Kingfisher/docs/Extensions/Notification.html
Carthage/Checkouts/Kingfisher/docs/Extensions/URL.html
Carthage/Checkouts/Kingfisher/docs/Extensions/Notification/Name.html
Carthage/Checkouts/Kingfisher/docs/Protocols/AnimatedImageViewDelegate.html
Carthage/Checkouts/Kingfisher/docs/Protocols/AuthenticationChallengeResponsable.html
Carthage/Checkouts/Kingfisher/docs/Protocols/CIImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/Protocols/CacheSerializer.html
Carthage/Checkouts/Kingfisher/docs/Protocols/ImageDownloadRequestModifier.html
Carthage/Checkouts/Kingfisher/docs/Protocols/ImageDownloaderDelegate.html
Carthage/Checkouts/Kingfisher/docs/Protocols/ImageModifier.html
Carthage/Checkouts/Kingfisher/docs/Protocols/ImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/Protocols/Indicator.html
Carthage/Checkouts/Kingfisher/docs/Protocols/KingfisherCompatible.html
Carthage/Checkouts/Kingfisher/docs/Protocols/Placeholder.html
Carthage/Checkouts/Kingfisher/docs/Protocols/Resource.html
Carthage/Checkouts/Kingfisher/docs/Structs/AlignmentRectInsetsImageModifier.html
Carthage/Checkouts/Kingfisher/docs/Structs/AnyImageModifier.html
Carthage/Checkouts/Kingfisher/docs/Structs/AnyModifier.html
Carthage/Checkouts/Kingfisher/docs/Structs/BlackWhiteProcessor.html
Carthage/Checkouts/Kingfisher/docs/Structs/BlendImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/Structs/BlurImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/Structs/CGSizeProxy.html
Carthage/Checkouts/Kingfisher/docs/Structs/ColorControlsProcessor.html
Carthage/Checkouts/Kingfisher/docs/Structs/CompositingImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/Structs/CroppingImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/Structs/DataProxy.html
Carthage/Checkouts/Kingfisher/docs/Structs/DefaultCacheSerializer.html
Carthage/Checkouts/Kingfisher/docs/Structs/DefaultImageModifier.html
Carthage/Checkouts/Kingfisher/docs/Structs/DefaultImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/Structs/Filter.html
Carthage/Checkouts/Kingfisher/docs/Structs/FlipsForRightToLeftLayoutDirectionImageModifier.html
Carthage/Checkouts/Kingfisher/docs/Structs/FormatIndicatedCacheSerializer.html
Carthage/Checkouts/Kingfisher/docs/Structs/ImageResource.html
Carthage/Checkouts/Kingfisher/docs/Structs/OverlayImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/Structs/RectCorner.html
Carthage/Checkouts/Kingfisher/docs/Structs/RenderingModeImageModifier.html
Carthage/Checkouts/Kingfisher/docs/Structs/ResizingImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/Structs/RetrieveImageDownloadTask.html
Carthage/Checkouts/Kingfisher/docs/Structs/RoundCornerImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/Structs/TintImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.tgz
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.xml
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/docSet.dsidx
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Classes.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Enums.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Extensions.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Functions.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Global Variables.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Protocols.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Typealiases.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/index.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/search.json
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Classes/AnimatedImageView.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Classes/ImageCache.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Classes/ImageDownloader.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Classes/ImagePrefetcher.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Classes/Kingfisher.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Classes/KingfisherManager.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Classes/RetrieveImageTask.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Classes/AnimatedImageView/RepeatCount.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Classes/ImageCache/CacheCheckResult.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Enums/CacheType.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Enums/ContentMode.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Enums/ImageFormat.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Enums/ImageProcessItem.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Enums/ImageTransition.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Enums/IndicatorType.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Enums/KingfisherError.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Enums/KingfisherOptionsInfoItem.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Extensions/CGSize.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Extensions/Collection.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Extensions/Data.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Extensions/Notification.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Extensions/URL.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Extensions/Notification/Name.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Protocols/AnimatedImageViewDelegate.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Protocols/AuthenticationChallengeResponsable.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Protocols/CIImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Protocols/CacheSerializer.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Protocols/ImageDownloadRequestModifier.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Protocols/ImageDownloaderDelegate.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Protocols/ImageModifier.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Protocols/ImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Protocols/Indicator.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Protocols/KingfisherCompatible.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Protocols/Placeholder.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Protocols/Resource.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/AlignmentRectInsetsImageModifier.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/AnyImageModifier.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/AnyModifier.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/BlackWhiteProcessor.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/BlendImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/BlurImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/CGSizeProxy.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/ColorControlsProcessor.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/CompositingImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/CroppingImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/DataProxy.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/DefaultCacheSerializer.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/DefaultImageModifier.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/DefaultImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/Filter.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/FlipsForRightToLeftLayoutDirectionImageModifier.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/FormatIndicatedCacheSerializer.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/ImageResource.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/OverlayImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/RectCorner.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/RenderingModeImageModifier.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/ResizingImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/RetrieveImageDownloadTask.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/RoundCornerImageProcessor.html
Carthage/Checkouts/Kingfisher/docs/docsets/Kingfisher.docset/Contents/Resources/Documents/Structs/TintImageProcessor.html
Carthage/Checkouts/promises/PromisesObjC.podspec
Carthage/Checkouts/promises/PromisesSwift.podspec
Carthage/Checkouts/promises/README.md
Carthage/Checkouts/promises/WORKSPACE
Carthage/Checkouts/promises/Promises.xcodeproj/project.pbxproj
Carthage/Checkouts/promises/Sources/Promises/Promise.swift
Carthage/Checkouts/promises/Sources/Promises/Promise+Catch.swift
Carthage/Checkouts/promises/Sources/Promises/Promise+Recover.swift
Carthage/Checkouts/promises/Tests/PromisesTests/Promise+TimeoutTests.swift
Carthage/Checkouts/promises/Tests/PromisesTests/Promise+ValidateTests.swift
Carthage/Checkouts/promises/g3doc/index.md
GooglePromiseDemo.xcodeproj/project.pbxproj
